<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">Navigation</li>

                <li>
                    <a href="@Url.Action("ListSale","Sale")">
                        <i class="fas fa-money-bill-alt"></i>
                        <span> Venta </span>
                    </a>
                    <a href="@Url.Action("ListUser","User")">
                        <i class="fa fa-user"></i>
                        <span> Usuario </span>
                    </a>
                    <a href="@Url.Action("ListCustomer","Customer")">
                        <i class="fa fa-user"></i>
                        <span> Cliente </span>
                    </a>
                    <a href="@Url.Action("ListLocal","Local")">
                        <i class="fa fa-building"></i>
                        <span> Local </span>
                    </a>

                </li>
                <li>
                    <a href="javascript: void(0);">
                        <i class="fab fa-product-hunt"></i>
                        <span> Configuración </span>
                        <span style="padding-left:19%"> Producto </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="@Url.Action("ListProduct","Product")">
                                <span> Producto </span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ListBrand","Brand")">
                                <span> Marca </span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ListProductBrand","ProductBrand")">
                                <span>  Marca - Producto </span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ListStockProduct","EntryExitProduct")">
                                <span>  Stock Producto </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->